<style>
    /* Modify the background color */

    .navbar-custom {
        background-color: #222831;
    }
        /* Modify brand and text color */

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: #EEB76B;
        }
</style>

<div class="top-row ps-3 navbar navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href=""></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <div id="rcorners"></div>

        </NavLink>

        <div class="nav-item px-3 mt-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="passwordGenerator">
                <span class="oi oi-key" aria-hidden="true"></span> Password Generator
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

<style>
    #rcorners {
        border-radius: 25px;
        background: url(https://i.pinimg.com/originals/92/15/00/92150072e15e7e114dd101d6ab226d68.png);
        background-size: cover;
        margin: auto;
        padding: 20px;
        width: 150px;
        height: 150px;
        box-shadow: 3px 3px 6px #664f2f
    }
</style>