@page "/"
@inject NavigationManager NavigationManager

<div style="color:#d5b790">
<h2>Index Page</h2>
</div>

<button class="btn btn-info" @onclick="@(()=> NavigationManager.NavigateTo($"/passwordGenerator/{Length}"))"> Go to the Password Generator Page</button>

@code
{
	public int Length = 25;
}

<style>
    body {
        background: #2f343c
    }
</style>
