.terminal {
    border-radius: 5px 5px 0 0;
    position: relative;
}

.terminal .top {
    background: #ff9a76;
    color: floralwhite;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.terminal .btns {
    position: absolute;
    top: 7px;
    left: 5px;
}

.terminal .circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 2px;
    border-width: 1px;
    border-style: solid;
}

.title {
    text-align: center;
}

.red {
    background: #EC6A5F;
    border-color: #D04E42;
}

.green {
    background: #64CC57;
    border-color: #4EA73B;
}

.yellow {
    background: #F5C04F;
    border-color: #D6A13D;
}

.clear {
    clear: both;
}

.terminal .body {
    background: #eae8e2;
    color: #959490;
    padding: 8px;
    overflow: auto;
}

.space {
    margin: 25px;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0,0,0,.4)
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

tr:hover {
    background-color: #fff3cd;
}

th span.text,
td span.text {
    font-size: 12px;
}

.btn span.text {
    font-size: 12px;
}

.btn.btn-outline-warning,
.btn.btn-outline-info {
    font-size: 12px;
}

.pagination {
    margin-top: 10px;
}

.custom-button {
    color: #cdcbc2;
    border-color: #cdcbc2
}