@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-fwau4nbpzn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-fwau4nbpzn] {
    flex: 1;
}

.sidebar[b-fwau4nbpzn] {
    background-image: linear-gradient(to bottom, #222831 37%, #eeb76b 157%);
}

.top-row[b-fwau4nbpzn] {
    background-color: #222831;
    border-bottom: 1px solid #474e58;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-fwau4nbpzn]  a, .top-row[b-fwau4nbpzn]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-fwau4nbpzn]  a:hover, .top-row[b-fwau4nbpzn]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-fwau4nbpzn]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-fwau4nbpzn] {
        display: none;
    }

    .top-row.auth[b-fwau4nbpzn] {
        justify-content: space-between;
    }

    .top-row[b-fwau4nbpzn]  a, .top-row[b-fwau4nbpzn]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-fwau4nbpzn] {
        flex-direction: row;
    }

    .sidebar[b-fwau4nbpzn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-fwau4nbpzn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-fwau4nbpzn]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-fwau4nbpzn], article[b-fwau4nbpzn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-s3kx6drt1x] {
    background-color: #222831;
}

.top-row[b-s3kx6drt1x] {
    height: 3.5rem;
    background-color: #222831;
}

.navbar-brand[b-s3kx6drt1x] {
    font-size: 1.1rem;
}

.oi[b-s3kx6drt1x] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-s3kx6drt1x] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-s3kx6drt1x] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-s3kx6drt1x] {
        padding-bottom: 1rem;
    }

    .nav-item[b-s3kx6drt1x]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-s3kx6drt1x]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-s3kx6drt1x]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-s3kx6drt1x] {
        display: none;
    }

    .collapse[b-s3kx6drt1x] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-s3kx6drt1x] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
